<% case notification.action
  when "follow" %>
    <ul class="list-unstyled mt-4">
      <li class="media d-flex justify-content-between align-items-center">
        <%= image_tag notification.visitor.image.url, alt: "icon", class: "n_icon rounded-circle mr-md-4 mr-1" %>
        <div class="media-body mr-2">
          <%= link_to notification.visitor.name, user_path(notification.visitor) %><span>からフォローされました。</span>
        </div>
        <div class="mr-5">
          <%= time_ago_in_words(notification.created_at) %><span>前</span>
        </div>
        <%= link_to user_notification_path(current_user, notification), method: :delete do %>
          <i class="fas fa-trash-alt fa-lg" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
  <% when "like" %>
    <ul class="list-unstyled mt-4">
      <li class="media d-flex justify-content-between align-items-center">
        <%= image_tag notification.post.image.url, alt: "post_image", class: "n_img mr-md-4 mr-1" %>
        <div class="media-body mr-2">
          <%= link_to notification.visitor.name, user_path(notification.visitor) %><span>からいいねがつきました。</span>
          <div class="d-flex">
            <%= link_to '投稿を表示', post_path(notification.post) %>
          </div>
        </div>
        <div class="mr-md-5">
          <%= time_ago_in_words(notification.created_at) %><span>前</span>
        </div>
        <%= link_to user_notification_path(current_user, notification), method: :delete do %>
            <i class="fas fa-trash-alt fa-lg" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
  <% when "comment" %>
    <ul class="list-unstyled mt-4">
      <li class="media d-flex justify-content-between align-items-center">
        <%= image_tag notification.post.image.url, alt: "post_image", class: "n_img mr-md-4 mr-1" %>
        <div class="media-body mr-2">
          <%= link_to notification.visitor.name, user_path(notification.visitor) %><span>からコメントがきました。</span>
          <div class="d-flex">
            <%= link_to '投稿を表示', post_path(notification.post) %>
            <p class="ml-2 text-secondary"><%= notification.comment.content %></p>
          </div>
        </div>
        <div class="mr-md-5">
          <%= time_ago_in_words(notification.created_at) %><span>前</span>
        </div>
        <%= link_to user_notification_path(current_user, notification), method: :delete do %>
            <i class="fas fa-trash-alt fa-lg" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
<% end %>