<div class="row">
  <div class="col-md-5">
    <%= render 'users', user: @user %>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs nav-justified mt-sm-5 mb-5">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>"><i class="far fa-images fa-lg" aria-hidden="true"></i></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>"><i class="fas fa-heart fa-lg" aria-hidden="true"></i></a></li>
    </ul>
    <div class="card mt-5">
      <div class="card-header">
        <h5 class="card-title d-flex align-items-center justify-content-center">フォロワー</h5>
      </div>
      <div class="card-body">
        <% if @followers.any? %>
          <ul class="list-unstyled">
            <% @followers.each do |follower| %>
              <li class="follow_name mb-3">
                <div>
                  <%= image_tag follower.image.url, alt: "icon", class: "user_icon rounded-circle mr-2" %>
                  <%= link_to follower.name, followers_user_path(follower) %>
                </div>
                <div>
                  <%= render 'relationships/follow_button', user: follower %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>