<div class="row">
  <aside class="col-md-4">
    <%= render 'new_posts', post: @post %>
  </aside>
  
  <div class="col-md-5 offset-md-1">
    <ul class="nav nav-tabs justify-content-center mt-4 mb-5">
      <li class="nav-item"><a href="#" class="nav-link active"><i class="fas fa-hashtag"></i>新着</a></li>
    </ul>
    
    <% if @posts.any? %>
      <ul class="list-unstyled">
        <% @posts.each do |post| %>
          <li class="media mb-5">
            <%= image_tag post.user.image.url, alt: "icon", class: "post_icon rounded-circle" %>
            
            <div class="media-body">
              <div>
                <h5 class="ml-2"><%= link_to post.user.name, user_path(post.user) %></h5>
              </div>
              <div class="text-right">
                <%= time_ago_in_words(post.created_at) %><span>前</span>
              </div>
              <div class="text-center">
                <%= image_tag post.image.url, alt: "image", class: "img-fluid mb-1" %>
              </div>
              <div>
                <%= link_to 'もっと表示', post_path(post) %>
              </div>  
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>